<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Span6 Demo Request</h1>
    <p>
      Name: <%= @signup.first_name %> <%= @signup.last_name %>
    </p>
    <p>
      Email: <%= @signup.email %>
    </p>
    <p>
      Phone Number: <%= @signup.phone_number %>
    </p>
    <p>
      Company: <%= @signup.company %>
    </p>
    <p>
      Notes: <%= @signup.notes %>
    </p>
  </body>
</html>