<% content_for :js do %>
  <%= render 'shared' %>
  <script type="text/javascript">
    var osmJsHost = (("https:" == document.location.protocol) ? "https://self." : "http://self.") + 'osamm.com';
    document.write(unescape("%3Cscript src='" + osmJsHost + "/assets/tracker.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    osm_tracker.s_id = 1;
    osm_tracker.track();
  </script>
<% end %>

<div class="header header_home page" style="height: 170px;background:none">
  <div class="price_tag" style="background: url('/images/price_tag.png') no-repeat top;top:-85px;right:-35px"></div>
  <h1 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 35px; color: #777;">
    Stop Trying to Integrate Six Different Platforms.<br/>
    <span class="highlight_light" style="position:relative;left:-6px"><strong>Span6</strong> is Everything You Need in One Innovative Platform.</span>
  </h1>
  <br/>
  <div style="margin:16px">
    <center>
      <a href="#contact" data-anchor="#contact" class="button icon scrollto">
        <img src="/images/go_icon.png" alt="Go" /><span>Request a Free Demo</span></a>
    </center>
  </div>
  <div style="margin:10px">
    <center>
      <span class="trial">Or call us directly at <strong><%= phone_number %></strong>.</span>
    </center>
  </div>


  <!-- End App Screenshot -->

  <div class="clear"></div>

</div>

<div id="home" class="padding">

  <div id="features">

    <div class="section_title">
      <h3>Feature Overview</h3>
    </div>

    <p>
      <b>Customer Management</b>
      <img src="/images/icons/track.gif" alt="" />
      Create, manage and engage your customers through one platform.
      A complete detailed history log tells you everything you need to know before you engage them.
      A Call Centre team can easily use <%=n%> to manage customer relations without security concerns.
    </p>

    <p>
      <b>Simple Landing Page Integration</b>
      <img src="/images/features/paint.png" style="height:64px;width:64px;" alt="" />
      Integrate new and existing landing pages into <%=n%> extremely quickly and without any developers.
      Simply paste in the Javascript code snippet into your pages and they are ready to test and deploy!
    </p>

    <p class="last">
      <b>Sell Subscriptions &amp; Trial Offers</b>
      <img src="/images/features/moneybag.png" alt="" />
      Finally, a recurring billing system that is fully customizable and yet simple and easy to manage.
      Create a subscription with any interval and with an optional trial period.
    </p>

    <div class="clear spacer"></div>

    <p>
      <b>Fraud Protection</b>
      <img src="/images/features/shield.png" alt="" />
      Automatically or Manually run our advanced Fraud Risk Analysis on your Leads or customers.
      Place risky orders in a queue or assign them for further action.
      Choose to reject sales that are above a certain risk threshold.
    </p>

    <p>
      <b>Affiliate Portals</b>
      <img src="/images/icons/dude.gif" alt="" />
      Allow your affiliates to log into your <%=n%> platform with a limited dashboard, reports and feature set.
      Advanced security ensures that your Affiliates can only see their own statistics.
    </p>

    <p class="last">
      <b>Fully Secure &amp; Compliant</b>
      <img src="/images/features/secure.png" alt="" />
      A combination of 128-bit SSL Encryption and remote Level-1 PCI-compliant Credit Card storage facilities ensure
      that you incur ZERO risk when dealing with sensitive customer information and get the best merchant rates.
    </p>

    <div class="clear spacer"></div>

    <p>
      <b>Lead Management</b>
      <img src="/images/features/lead.png" style="height:64px;width:64px" alt="" />
      Collect leads of any kind through your landing pages and engage them using communication templates.
      Leads can also be grouped and exported with ease.
    </p>

    <p>
      <b>Customizable Email Notifications</b>
      <img src="/images/features/email.png" style="height:64px;width:64px;" alt="" />
      Create dynamic email templates for any customer or lead related events such as Welcome, Order shipment and Cancellation.
      Split test your emails with the same ease as testing your landing pages.
    </p>

    <p class="last">
      <b>Interactive Dashboard</b>
      <img src="/images/features/dash2.png" style="height:64px;width:64px;" alt="" />
      A fully customizable and interactive dashboard presents you with the information you want, on demand.
      From financial health to traffic reports to top performing campaigns, all the information is at your fingertips.
    </p>

    <div class="clear spacer"></div>


    <p>
      <b>Rich &amp; Real-time Reports</b>
      <img src="/images/features/charts.png" alt="" />
      On-demand reporting for all aspects of your business from sales to fraud to user activity.
      See what's relevant using powerful filters and conditions.
    </p>

    <p>
      <b>Fully Mobile Friendly</b>
      <img src="/images/features/ipad.png" alt="" />
      Not only can you view your dashboard and reports on the go,
      but you can also manage all aspects of your store straight from your Smart-phone or iPad.
    </p>

    <p class="last">
      <b>Online &amp; Offline E-commerce</b>
      <img src="/images/features/credit_cards.png" style="height:64px;width:64px;" alt="" />
      Channel sales through online traffic and landing pages or place orders over the phone.
      Give your CSRs as much power to up-sell, down-sell and negotiate with your clients for optimum retention.
    </p>

    <div class="clear spacer"></div>

    <p>
      <b>Role-based Restrictions</b>
      <img src="/images/features/key.png" alt="" />
      Create as many roles as you want or use the pre-defined roles to get up and running quickly.
      Roles allow you to restrict access and privileges for your users.
    </p>

    <p>
      <b>Dedicated Hassle-Free SaaS</b>
      <img src="/images/features/dash.png" alt="" />
      Unlike most marketing platforms, <%= n %> can be hosted on a dedicated server and database so that the performance and issues of other sites does not affect yours.
      It also gives us the power to customize it for your specific business needs without affecting other clients.
    </p>

    <p class="last">
      <b>Customizable to YOUR Needs</b>
      <img src="/images/features/custom.png" alt="" />
      Want features that are very specific to your business?
      No problem. We can customize <%=n%> to fit your needs quickly and cheaply!

    </p>


    <div class="clear"></div>
  </div>

  <div id="contact">
    <div class="section_title">
      <h3>Free Demo</h3>
    </div>

    <div id="success-message" style="display:none">
      <p>
        <span class="highlight_dark" style="font-size:1.3em">Thank you for your interest in Span6.</span> <br/><br/>
        <span class="highlight_green" style="font-size:1.3em">We will contact you to initiate the consultation and demo shortly.</span>
      </p>
      <br/>
      <p>
        <a href="#" id="edit-request">Edit my request</a>
      </p>
    </div>

    <div id="contact-form">
      <form action="#" method="POST">
        <h2><span>Fill out the form below for your <span class="highlight_light">*FREE* consultation, demo and trial.</span></span></h2>

        <div class="validation" id="message-box" style="display:none">
          Please correct the errors below ...
          <ul>
          </ul>
        </div>
        <div class="clear"></div>

        <p>
          <label>First Name *</label>
          <input type="text" name="first_name" id="first_name" class="text_field required" />
        </p>

        <p>
          <label>Last Name *</label>
          <input type="text" name="last_name" id="last_name"  class="text_field required" />
        </p>

        <p>
          <label>E-mail Address *</label>
          <input type="text" name="email" id="email"  class="text_field required email" />
        </p>


        <p>
          <label>Phone Number *</label>
          <input type="text" name="address[phone1]" id="phone"  class="text_field required phone" />
        </p>


        <p>
          <label>Company</label>
          <input type="text" name="custom[company]" id="company"  class="text_field" />
        </p>

        <p>
          <label>Notes</label>
          <textarea name="custom[notes]" id="notes"  class="text_field" style="width:248px;height:80px;"></textarea>
        </p>

        <div class="clear margin"></div>

        <div class="send_form">
          <a href="javascript:;" class="button submit"><span>Complete Signup</span></a>
          <span class="trial">We will ONLY use this information to contact you <span class="highlight_light">personally</span> to setup a demo.</span>
        </div>

        <div class="clear margin"></div>
      </form>
    </div>
    <div class="clear"></div>

  </div>
  <div class="clear"></div>

</div>