<div class="header page">
  <h1>About Us</h1>
  <!--
  <ul>
    <li><a href="html_elements.html">HTML Elements</a></li>
    <li><a href="2_column.html">2 Column</a></li>
  </ul>
  -->
</div>

<div id="about" class="padding">

  <div class="wrap_image_left">
    <img src="images/about_img1.png" alt="" />
  </div>

  <p>
    <%= n %> is a new cutting-edge platform that enables online advertisers to easily channel traffic from affiliate campaigns into multiple landing pages, convert the visitors into leads or customers, and track the performance of the overall flow.
  </p>
  <p>
    What's exciting is that this is merely one aspect of the ever growing platform that is <%= n %>.
    <br/>
    <% if false %>
      <a href="/signup">Signup</a> now for a free one-on-one or conference-based Demo to truly see all that you'll be able to do with <%= n %>.
    <% end %>
  </p>
<br/>
  <a href="<%= new_signup_path %>" class="button icon"><img src="/images/go_icon.png" alt="" /><span>View our demo</span></a>
  <span class="trial">Or call us directly at <%= phone_number %>.</span>

  <div class="clear"></div>
  <br/>

  <div class="section_title">
    <h3>Our Leadership Team</h3>
  </div>

  <!-- Start Team Member -->
  <div class="team member_left">
    <h3>Khurram Virani <span>Lead Developer</span></h3>
    <img src="/images/kv_small.png" alt="" />
    <p>
      Khurram has been involved in the Affiliate Marketing industry for over five years.
      Having worked on other Affiliate Marketing platforms in the past, he learned the problems and shortcomings in the software.
      This insight was used when creating <%= n %>.
    </p>
    <ul>
      <li><a href="http://www.twitter.com/viranik">Twitter</a></li>
      <li><a href="http://www.linkedin.com/in/kvirani">LinkedIn</a></li>
    </ul>
  </div>
  <!-- End Team Member -->

  <!-- Start Team Member -->
  <div class="team member_right">
    <h3>Farida Ali <span>Financial Officer</span></h3>
    <img src="/images/fa_small2.png" alt="" />
    <p>
      Farida Ali is a young and exciting BBA and MBA. While demanding,
      Farida creates a strong work environment and makes everyone around her more successful at their jobs.
      Her expertise is of great use at Span6 as she manages all of the financial and operational aspects of the company.
    </p>
    <ul>
      <li><a href="http://www.faridaali.com">Personal</a></li>
      <li><a href="http://twitter.com/farida_ali">Twitter</a></li>
      <li><a href="http://www.linkedin.com/in/faridaali">LinkedIn</a></li>
    </ul>
  </div>
  <!-- End Team Member -->

  <div class="clear"></div>

  <!-- Start Team Member -->
  <div class="team member_left">
    <h3>Tyler Ginn <span>Public Relations Director</span></h3>
    <img src="/images/tg_small.jpg" alt="" style="height: 126px; width: 125px" />
    <p>
      Tyler Ginn is a young and upcoming name in Public Relations.
      His diverse and unique educational background allows him to handle both technical and inter-personal issues with equal aplomb. 
    </p>
    <ul>
      <li><a href="http://twitter.com/span_six">Twitter</a></li>
      <li><a href="http://ca.linkedin.com/pub/tyler-ginn/30/219/7b3">LinkedIn</a></li>
    </ul>
  </div>
  <!-- End Team Member -->

  <div class="clear"></div>
</div>
