<% content_for :js do %>
  <script src="/mediaelement/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="/mediaelement/mediaelementplayer.css" />
  <script type="text/javascript" charset="utf-8">
    var player = null;
    $(document).ready(function() {
      // Configure fancybox plugin
      $("a.screenshot").fancybox({
        'transitionIn'	:	'elastic',
        'transitionOut'	:	'elastic',
        'speedIn'		:	400,
        'speedOut'		:	400,
        'overlayShow'	:	false
      });

      // Configure scrollable plugin
      //$(".scrollable").scrollable({ });

      var os = detectMobile(navigator.userAgent);
      if (os.android) {
        var html = '<video poster="/images/s6-video-poster-v2.png" src="/s6-home-video-cut4.iphone.m4v" width="960" height="568" controls="controls" preload="true">';
        $('#videocontainer').html(html);
      } else if (os.blackberry) {
        var html = '<video poster="/images/s6-video-poster-v2.png" src="/s6-home-video-cut4.mobile.3gp" width="960" height="568" controls="controls" preload="true">';
        $('#videocontainer').html(html);
      } else if (os.ipad) {
        var html = '<video poster="/images/s6-video-poster-v2.png" src="/s6-home-video-cut4.ipad.m4v" width="960" height="568" controls="controls" preload="true">';
        $('#videocontainer').html(html);
      } else if (os.iphone) {
        var html = '<video poster="/images/s6-video-poster-v2.png" src="/s6-home-video-cut4.iphone.m4v" width="960" height="568" controls="controls" preload="true">';
        $('#videocontainer').html(html);
        //$('video').mediaelementplayer();
      } else {
        $('video').mediaelementplayer();
      }
      
    });
  </script>
<% end %>
<div class="header header_home page">

  <% if false %>
    <div class="price_tag"></div>
  <% end %>

  <h1 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 35px; color: #777;">
    Powerful campaign, affiliate and customer management.<br/>
    Marketing automation made simple.
  </h1>
  <br/>

  <div id="videocontainer">
    <video width="960" height="568" controls="controls" preload="true" poster="/images/s6-video-poster-v2.png" src="/s6-home-video-cut4.mp4">
      <source type="video/mp4" src="/s6-home-video-cut4.mp4" id="main-video-source" />
      <source type="video/webm" src="/s6-home-video-cut4.webm" />
      <source type="video/ogg" src="/s6-home-video-cut4.ogv" />
      <source type='video/3gpp; codecs="mp4v.20.8, samr"' src='/s6-home-video-cut4.mobile.3gp' />
    </video>
  </div>

  <!-- End App Screenshot -->

  <!-- Start App Info -->

  <% if false %>
    <p>
      <%= n %> is a new cutting-edge CRM that enables online advertisers to easily channel traffic from affiliate campaigns into multiple landing pages, convert the visitors into leads or customers, and track the performance of the overall flow.
      But that's just the beginning!
      <br/>
      <%= n %> can also help you generate, manage and engage your customers and leads. It can automatically assess fraud risk to save you money on your CPAs.
    </p>

    <a href="<%= new_signup_path %>" class="button icon"><img src="/images/go_icon.png" alt="" /><span>Request a Demo</span></a>
    <span class="trial">Or call us directly at <%= phone_number %>.</span>
  <% end %>
  <!-- End App Info -->
  <div class="clear"></div>

</div>

<div id="home" class="padding">
  <% if false %>
    <div id="screenshots">

      <div class="section_title">
        <h3>Screenshots</h3>
      </div>

      <a href="javascript:;" class="controls prev">Previous</a>

      <div class="scrollable">
        <div class="items">
          <!-- Start Screenshot Group 1 -->
          <ul>
            <li><a href="/images/screenshots/dash-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/dash-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/dash-02.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/dash-02.png" alt="" /></a></li>
            <li><a href="/images/screenshots/dash-03.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/dash-03.png" alt="" /></a></li>
            <li><a href="/images/screenshots/roles-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/roles-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/subs-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/subs-01.png" alt="" /></a></li>
          </ul>
          <!-- End Screenshot Group 1 -->
          <!-- Start Screenshot Group 2 -->
          <ul>
            <li><a href="/images/screenshots/order-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/order-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/risk-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/risk-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/plans-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/plans-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/gateways-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/gateways-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/reports-fraud-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/reports-fraud-01.png" alt="" /></a></li>
          </ul>
          <!-- End Screenshot Group 2 -->
          <!-- Start Screenshot Group 3 -->
          <ul>
            <li><a href="/images/screenshots/fraud-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/reports-fraud-02.png" alt="" /></a></li>
            <li><a href="/images/screenshots/reports-perf-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/reports-perf-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/customers-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/customers-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/notes-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/notes-01.png" alt="" /></a></li>
            <li><a href="/images/screenshots/notes-02.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/notes-02.png" alt="" /></a></li>
          </ul>
          <!-- End Screenshot Group 3 -->
          <!-- Start Screenshot Group 4 -->
          <ul>
            <li><a href="/images/screenshots/settings-01.png" class="screenshot" rel="group"><img src="/images/screenshots/thumbs/settings-01.png" alt="" /></a></li>
          </ul>
          <!-- End Screenshot Group 4 -->
        </div>
      </div>

      <a href="javascript:;" class="controls next">Next</a>

      <div class="clear"></div>
    </div>
  <% end %>
  <div id="features">

    <div class="section_title">
      <h3>Feature Overview</h3>
    </div>

    <p>
      <b>Customer Management</b>
      <img src="/images/icons/track.gif" alt="" />
      Create, manage and engage your customers through one platform.
      A complete detailed history log tells you everything you need to know before you engage them.
      A Call Centre team can easily use <%=n%> to manage customer relations without security concerns.
    </p>

    <p>
      <b>Simple Landing Page Integration</b>
      <img src="/images/features/paint.png" style="height:64px;width:64px;" alt="" />
      Integrate new and existing landing pages into <%=n%> extremely quickly and without any developers.
      Simply paste in the Javascript code snippet into your pages and they are ready to test and deploy!
    </p>

    <p class="last">
      <b>Sell Subscriptions &amp; Trial Offers</b>
      <img src="/images/features/moneybag.png" alt="" />
      Finally, a recurring billing system that is fully customizable and yet simple and easy to manage.
      Create a subscription with any interval and with an optional trial period.
    </p>

    <div class="clear spacer"></div>

    <p>
      <b>Fraud Protection</b>
      <img src="/images/features/shield.png" alt="" />
      Automatically or Manually run our advanced Fraud Risk Analysis on your Leads or customers.
      Place risky orders in a queue or assign them for further action.
      Choose to reject sales that are above a certain risk threshold.
    </p>

    <p>
      <b>Affiliate Portals</b>
      <img src="/images/icons/dude.gif" alt="" />
      Allow your affiliates to log into your <%=n%> platform with a limited dashboard, reports and feature set.
      Advanced security ensures that your Affiliates can only see their own statistics.
    </p>

    <p class="last">
      <b>Fully Secure &amp; Compliant</b>
      <img src="/images/features/secure.png" alt="" />
      A combination of 128-bit SSL Encryption and remote Level-1 PCI-compliant Credit Card storage facilities ensure
      that you incur ZERO risk when dealing with sensitive customer information and get the best merchant rates.
    </p>

    <div class="clear spacer"></div>

    <p>
      <b>Lead Management</b>
      <img src="/images/features/lead.png" style="height:64px;width:64px" alt="" />
      Collect leads of any kind through your landing pages and engage them using communication templates.
      Leads can also be grouped and exported with ease.
    </p>

    <p>
      <b>Customizable Email Notifications</b>
      <img src="/images/features/email.png" style="height:64px;width:64px;" alt="" />
      Create dynamic email templates for any customer or lead related events such as Welcome, Order shipment and Cancellation.
      Split test your emails with the same ease as testing your landing pages.
    </p>

    <p class="last">
      <b>Interactive Dashboard</b>
      <img src="/images/features/dash2.png" style="height:64px;width:64px;" alt="" />
      A fully customizable and interactive dashboard presents you with the information you want, on demand.
      From financial health to traffic reports to top performing campaigns, all the information is at your fingertips.
    </p>

    <div class="clear spacer"></div>


    <p>
      <b>Rich &amp; Real-time Reports</b>
      <img src="/images/features/charts.png" alt="" />
      On-demand reporting for all aspects of your business from sales to fraud to user activity.
      See what's relevant using powerful filters and conditions.
    </p>

    <p>
      <b>Fully Mobile Friendly</b>
      <img src="/images/features/ipad.png" alt="" />
      Not only can you view your dashboard and reports on the go,
      but you can also manage all aspects of your store straight from your Smart-phone or iPad.
    </p>

    <p class="last">
      <b>Online &amp; Offline E-commerce</b>
      <img src="/images/features/credit_cards.png" style="height:64px;width:64px;" alt="" />
      Channel sales through online traffic and landing pages or place orders over the phone.
      Give your CSRs as much power to up-sell, down-sell and negotiate with your clients for optimum retention.
    </p>

    <div class="clear spacer"></div>

    <p>
      <b>Role-based Restrictions</b>
      <img src="/images/features/key.png" alt="" />
      Create as many roles as you want or use the pre-defined roles to get up and running quickly.
      Roles allow you to restrict access and privileges for your users.
    </p>

    <p>
      <b>Dedicated Hassle-Free SaaS</b>
      <img src="/images/features/dash.png" alt="" />
      Unlike most CRM platforms, <%=n%> can be hosted on a dedicated server and database so that the performance and issues of other sites does not affect yours.
      It also gives us the power to customize it for your specific business needs without affecting other clients.
    </p>

    <p class="last">
      <b>Customizable to YOUR Needs</b>
      <img src="/images/features/custom.png" alt="" />
      Want features that are very specific to your business? 
      No problem. We can customize <%=n%> to fit your needs quickly and cheaply!

    </p>


    <div class="clear"></div>
  </div>

</div>