<div class="header page">
  <h1>Plans &amp; Pricing</h1>
</div>

<!-- Start Price Table -->
<div id="pricing" class="padding">

  <div id="row_names">
    <ul>
      <li>Set-up Fee</li>
      <li>Monthly Fee</li>
      <li>Transaction Fee</li>
      <li>Customization Hours</li>
      <li>Max Users</li>
      <li>Storage</li>
      <li>Bandwidth</li>
      <li>Max SKUs</li>     
      <li>Max Landing Pages</li>
      <li>Recurring Billing</li>
      <li>Affiliate Logins</li>
      <li>Real-Time Stats</li>
      <li>SSL Checkout</li>
      <li>SSL Admin</li>
      <li>Fraud Detection</li>

      <li>Custom Domains</li>

    </ul>
  </div>

  <div id="price_table">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td>
            <h2>Start Up</h2>
            <span>A Great Way To Try It Out</span>
          </td>
          <td>
            <h2>Professional</h2>
            <span>For Small Companies</span>
          </td>
          <td>
            <h2>Commercial</h2>
            <span>For Mid-sized Companies</span>
          </td>
          <td class="last">
            <h2>Enterprise</h2>
            <span>For Large Organizations</span>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$1,000</td>
          <td>$1,600</td>
          <td><%= link_to 'Contact Us', contact_path %></td>
          <td class="last"><%= link_to 'Contact Us', contact_path %></td>
        </tr>
        <tr class="color">
          <td>$500</td>
          <td>$1,200</td>
          <td><%= link_to 'Contact Us', contact_path %></td>
          <td class="last"><%= link_to 'Contact Us', contact_path %></td>
        </tr>
        <tr>
          <td>$0.95</td>
          <td>$0.40</td>
          <td><%= link_to 'Contact Us', contact_path %></td>
          <td class="last"><%= link_to 'Contact Us', contact_path %></td>
        </tr>
        <tr class="color">
          <td>0</td>
          <td>5</td>
          <td>10</td>
          <td class="last">15</td>
        </tr>
        <tr>
          <td>3</td>
          <td>10</td>
          <td>25</td>
          <td class="last">Unlimited</td>
        </tr>
        <tr class="color">
          <td>3 GB</td>
          <td>3 GB</td>
          <td>5 GB</td>
          <td class="last">20 GB</td>
        </tr>
        <tr>
          <td>3 GB</td>
          <td>3 GB</td>
          <td>5 GB</td>
          <td class="last">20 GB</td>
        </tr>
        <tr class="color">
          <td>Unlimited</td>
          <td>Unlimited</td>
          <td>Unlimited</td>
          <td class="last">Unlimited</td>
        </tr>
        <tr>
          <td>Unlimited</td>
          <td>Unlimited</td>
          <td>Unlimited</td>
          <td class="last">Unlimited</td>
        </tr>
        <tr class="color">
          <td><%= check %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr>
          <td><%= check %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr class="color">
          <td><%= check %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr>
          <td><%= check %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr class="color">
          <td><%= x %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr> 
        <tr>
          <td><%= x %></td>
          <td><%= x %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr class="color">
          <td><%= x %></td>
          <td><%= x %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr class="buttons">
          <td><%= link_to '<img src="/images/go_icon.png" /><span>Request a Demo</span>'.html_safe, new_signup_path, :class => "button icon" %></td>
          <td><%= link_to '<img src="/images/go_icon.png" /><span>Request a Demo</span>'.html_safe, new_signup_path, :class => "button icon" %></td>
          <td><%= link_to '<img src="/images/go_icon.png" /><span>Request a Demo</span>'.html_safe, new_signup_path, :class => "button icon" %></td>
          <td><%= link_to '<img src="/images/go_icon.png" /><span>Request a Demo</span>'.html_safe, new_signup_path, :class => "button icon" %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clear"></div>
  <!-- End Price Table -->

  <!-- Start FAQs -->
  <div id="faq">

    <div class="section_title">
      <h3>Pricing FAQ's</h3>
    </div>

    <div class="left">
      <h4>Can I cancel anytime?</h4>
      <p>We will do our very best to make sure that your CRM and Affiliate Marketing needs are met.
        <%= n %> is built with customization and flexibility in mind.
      </p>
      <p>If however you still want to cancel your account with us, we will make that as quick and painless as humanly possible.</p>

    </div>

    <div class="right">
      <h4>Is there a free trial?</h4>
      <p>Setting up a new <%= n %> account requires developer and management's time.
        Requirements have to be understood and features customized.
      </p>
      <p>For these and other reasons, we cannot currently offer a free trial.
        However, please call us at <%= phone_number %> to arrange for a one-on-one or conference-based demo
      </p>
    </div>
    <div class="clear"></div>

    <div class="left">
      <h4>I’m not sure one of your pre-made plans is for us.</h4>
      <p>Every company has different needs. Let us know, and we can customize a plan that suits your unique needs. We're always willing to work with our clients to help them get exactly the experience they desire.
      </p>
    </div>

    <div class="right">
      <h4>Is it easy to switch plans?</h4>
      <p>Absolutely. Switch your plan at any time and your monthly bill will be pro-rated. You don't have to wait for the next billing cycle to switch plans and you will never pay extra for switching your plan during a billing cycle.
      </p>
    </div>

    <div class="clear"></div>

    <div class="left">
      <h4>I already have a CRM but yours is SO much better!</h4>
      <p>
        We know. And we also know that moving your existing data can be a daunting thought.
        But fear not, give us a call and we will work with you and your existing CRM provider to import your data into <%= n %>.
      </p>
    </div>

    <div class="right">
      <h4>Our Expenses are tight, can we work around that?</h4>
      <p>Please <%= link_to 'contact us', contact_path %>. We're willing to work with you to provide a custom plan that will suit your needs as well as your budget.</p>
    </div>

    <div class="clear"></div>


  </div>

</div>
<!-- End FAQs -->
