<div class="header page">
  <h1>Plans &amp; Pricing</h1>
</div>

<!-- Start Price Table -->
<div id="pricing" class="padding">

  <div id="row_names">
    <ul>
      <li>Set-up Fee</li>
      <li>Monthly Fee</li>
      <li>Transaction Fee</li>
      <li>Customization Hours</li>
      <li>Customization Hours</li>
      <li>Max SKUs</li>
      <li>Max Users</li>
      <li>Max Landing Pages</li>
      <li>Storage</li>
      <li>Bandwidth</li>
      <li>Recurring Billing</li>
      <li>Fraud Detection</li>
      <li>Affiliate Logins</li>
      <li>Custom Domains</li>
      <li>SSL Checkout</li>
      <li>SSL Admin</li>
      <li>Real-Time Stats</li>
    </ul>
  </div>

  <div id="price_table">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td>
            <h2>30-Day Trial</h2>
            <span>Limited Time Offer</span>
          </td>
          <td>
            <h2>Professional</h2>
            <span>For Small Companies</span>
          </td>
          <td>
            <h2>Commercial</h2>
            <span>For Mid-sized Companies</span>
          </td>
          <td class="last">
            <h2>Enterprise</h2>
            <span>For Large Organizations</span>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waived!</td>
          <td>$1,600</td>
          <td>$2,000</td>
          <td class="last">$3,000</td>
        </tr>
        <tr class="color">
          <td>Waived</td>
          <td>$1,200</td>
          <td>$1,600</td>
          <td class="last">$1,900</td>
        </tr>
        <tr>
          <td>$0.40</td>
          <td>$0.40</td>
          <td>$0.35</td>
          <td class="last">$0.30</td>
        </tr>
        <tr class="color">
          <td>None</td>
          <td>5</td>
          <td>10</td>
          <td class="last">15</td>
        </tr>
        <tr>
          <td>None</td>
          <td>5</td>
          <td>10</td>
          <td class="last">15</td>
        </tr>
        <tr class="color">
          <td>10</td>
          <td>10</td>
          <td>50</td>
          <td class="last">Unlimited</td>
        </tr>
        <tr>
          <td>3</td>
          <td>3</td>
          <td>10</td>
          <td class="last">Unlimited</td>
        </tr>
        <tr class="color">
          <td>10</td>
          <td>10</td>
          <td>50</td>
          <td class="last">Unlimited</td>
        </tr>
        <tr>
          <td>3 GB</td>
          <td>3 GB</td>
          <td>5 GB</td>
          <td class="last">20 GB</td>
        </tr>
        <tr class="color">
          <td>3 GB</td>
          <td>3 GB</td>
          <td>5 GB</td>
          <td class="last">20 GB</td>
        </tr>
        <tr>
          <td><%= check %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr class="color">
          <td><%= x %></td>
          <td><%= x %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr>
          <td><%= x %></td>
          <td><%= x %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr class="color">
          <td><%= x %></td>
          <td><%= x %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr>
          <td><%= check %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>
        <tr class="color">
          <td><%= check %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr> 
        <tr>
          <td><%= check %></td>
          <td><%= check %></td>
          <td><%= check %></td>
          <td class="last"><%= check %></td>
        </tr>

        <tr class="buttons">
          <td><%= link_to '<span>Select Plan</span>'.html_safe, new_signup_path, :class => "button" %></td>
          <td><%= link_to '<span>Select Plan</span>'.html_safe, new_signup_path, :class => "button" %></td>
          <td><%= link_to '<span>Select Plan</span>'.html_safe, new_signup_path, :class => "button" %></td>
          <td><%= link_to '<span>Select Plan</span>'.html_safe, new_signup_path, :class => "button" %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clear"></div>
  <!-- End Price Table -->

  <!-- Start FAQs -->
  <div id="faq">

    <div class="section_title">
      <h3>Pricing FAQ's</h3>
    </div>

    <div class="left">
      <h4>Can I cancel anytime?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nunc nec ipsum varius ultrices sodales massa gravida. Fusce eget nisi mattis dolor tincidunt blandit. Etiam in neque eget est scelerisque eleifend. Aenean posuere lorem et orci suscipit condimentum imperdiet magna rutrum. Etiam in neque eget est scelerisque Nunc ultrices .</p>
    </div>

    <div class="right">
      <h4>Is there a free trial?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nunc nec ipsum varius ultrices sodales massa gravida. Fusce eget nisi mattis dolor tincidunt blandit. Etiam in neque eget est scelerisque eleifend. Aenean posuere lorem et orci suscipit condimentum imperdiet magna rutrum. Etiam in neque eget est scelerisque Nunc ultrices .</p>
    </div>
    <div class="clear"></div>

    <div class="left">
      <h4>Can I cancel anytime?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nunc nec ipsum varius ultrices sodales massa gravida. Fusce eget nisi mattis dolor tincidunt blandit. Etiam in neque eget est scelerisque eleifend. Aenean posuere lorem et orci suscipit condimentum imperdiet magna rutrum. Etiam in neque eget est scelerisque Nunc ultrices .</p>
    </div>

    <div class="right">
      <h4>Is there a free trial?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nunc nec ipsum varius ultrices sodales massa gravida. Fusce eget nisi mattis dolor tincidunt blandit. Etiam in neque eget est scelerisque eleifend. Aenean posuere lorem et orci suscipit condimentum imperdiet magna rutrum. Etiam in neque eget est scelerisque Nunc ultrices .</p>
    </div>
    <div class="clear"></div>

  </div>

</div>
<!-- End FAQs -->
