<% form_for @inquiry  do |f| %>

  <%= render 'shared/error_messages_list', :object => @inquiry, :heading => "Please address the following issues and try again:"   %>

  <p>
    <label>Your Name</label>
    <%= f.text_field :name, :class => "text_field required" %>
  </p>

  <p>
    <label>Your Email</label>
    <%= f.text_field :email, :class => "text_field required" %>
  </p>

  <p class="last">
    <label>Subject</label>
    <%= f.select :subject, ['General Support', 'Feedback', 'Inquiry', 'Other'], {}, :class => "text_field"  %>
    <!--<select name="subject" id="subject" class="text_field">
      <option value="General Support">General Support</option>
    </select>-->
  </p>
  <div class="clear"></div>

  <p class="message">
    <label>Message</label>
    <%= f.text_area :message, :class => "text_field" %>
    <!--<textarea name="message" id="message" class="text_field" rows="" cols=""></textarea>-->
  </p>

  <div class="send_form">
    <a href="javascript:;" class="button submit" id="send"><span>Submit</span></a>
  </div>
  <div class="clear"></div>

<% end  %>